@import 'tailwindcss';
@import '../../../packages/ui/src/styles/globals.css';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --spacing-screen-with-nav: calc(100dvh - 68px)
}
